* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root {
    width: 100vw;
}
body {
    width: 100%;
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
}
header {
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 50px;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.list > li {
    padding: 20px;
}
.main-cont {
    margin-top: 50px;
    padding: 0 20px;
}
footer {
    width: 100vw;
    padding: 20px;
    background-color: darkslategray;
    position: fixed;
    bottom: 0;
}